{% load static i18n common_tags hijack django_bootstrap5 %}
{% if is_paginated %}
    <div class="card-footer">
        <div class="d-flex justify-content-center">
            <div class="">
                <ul class="pagination mb-0">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">
                                <span>First</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ page_obj.previous_page_number }}">
                                <span>Previous</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                <span>First</span>
                            </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                <span>Previous</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for page in paginator.page_range %}
                        <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                <span>Next</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginator.num_pages }}">
                                <span>Last</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                <span>Next</span>
                            </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                <span>Last</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}