{% load i18n common_tags django_bootstrap5 %}
<div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form method="post" action="">
    {% csrf_token %}

    <div class="modal-body">
        <p class="delete-text">Are you sure you want to delete <strong>{{ object }}</strong> ?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
        <button type="submit" id="delete-btn" class="btn btn-danger">{%  trans "Delete" %}</button>
    </div>
</form>