{% extends "base.html" %}
{% load static i18n common_tags hijack django_bootstrap5 %}
{% block content %}
    <div class="d-flex justify-content-between">
        <div class="p-2"></div>
        <div class="p-2"><h1>{{ title }}</h1></div>
        <div class="p-2"></div>
    </div>
    <div class="row">
        <div class="col col-12 sm-12 mb-4">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="p-2"></div>
                        <div class="p-2"><h3 class="mb-0">{{ model|verbose_name_plural | title }}</h3></div>
                        <div class="p-2">
                            {% if request.user.is_superuser %}
                                <a class="add btn btn-primary" href="#"
                                   data-form-url="{{ model.get_add_url }}"
                                   data-next="{{ model.get_list_url }}">
                                    <span class="fa fa-plus"></span> Add {{ model|verbose_name | title }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <table class="card-table table table-striped table-bordered mb-0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        {% if request.user.is_teamleader %}
                            <th class="text-end">Actions</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in object_list %}
                        <tr>
                            <td>{{ obj }}</td>
                            {% if request.user.is_teamleader %}
                                <td class="text-end">
                                    <a class="btn delete btn-sm btn-danger" href="#"
                                       data-form-url="{{ obj.get_delete_url }}" data-next="{{ obj.get_list_url }}">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td>No objects yet.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include '_card_footer.html' %}
            </div>
        </div>
    </div>
{% endblock content %}