{% extends "base.html" %}
{% load i18n common_tags django_bootstrap5 %}
{% block content %}
    <div class="d-flex justify-content-between">
        <div class="p-2"><a class="btn btn-secondary text-left ml-3"
                            href="{{ object.refer_mr.get_detail_url }}">{% trans "Back" %}</a></div>
        <div class="p-2"><h1>{{ title }}</h1></div>
        <div class="p-2"></div>
    </div>
    <div class="row">
        <div class="col col-12 sm-12 mb-4">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="p-2"></div>
                        <div class="p-2"><h3 class="mb-0">{{ model|verbose_name_plural | capfirst }}</h3></div>
                        <div class="p-2">
                            <a class="btn btn-success" href="{{ object.get_xls_url }}"><span
                                class="fa fa-file-excel"></span></a>
                        <a class="btn btn-danger" href="{{ object.get_pdf_url }}"><span
                                class="fa fa-file-pdf"></span></a>
                        </div>
                    </div>
                </div>
                <table class="card-table table table-striped table-bordered mb-0">
                    <thead>
                    <tr>
                        <th class="text-center">Date</th>
                        <th class="text-center">Project</th>
                        <th class="text-center">Category</th>
                        <th class="text-center">Hours</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for day in object.days.all %}
                        {% for slot in day.slots.all %}
                            {% if slot.duration %}
                                <tr>
                                    <td>{{ slot.refer_day.day|date:"d/m/Y" }}</td>
                                    <td>{{ slot.refer_category.refer_project }}</td>
                                    <td>{{ slot.refer_category.refer_category }}</td>
                                    <td>{{ slot.duration }}</td>
                                </tr>
                            {% endif %}
                        {% empty %}
                            <tr>
                                <td>No objects yet.</td>
                            </tr>
                        {% endfor %}
                    {% empty %}
                        <tr>
                            <td>No objects yet.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="card-footer d-flex justify-content-center">
                    <div class="mr-2">
                        <a class="btn btn-success" href="{{ object.get_xls_url }}"><span
                                class="fa fa-file-excel"></span></a>
                        <a class="btn btn-danger" href="{{ object.get_pdf_url }}"><span
                                class="fa fa-file-pdf"></span></a>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    {% if is_paginated %}
        <div class=" row justify-content-center mb-3">
            <nav>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">
                                <span>First</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                <span>Previous</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                <span>First</span>
                            </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                <span>Previous</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for page in paginator.page_range %}
                        <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                <span>Next</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginator.num_pages }}">
                                <span>Last</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                <span>Next</span>
                            </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                <span>Last</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock content %}